# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [10]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [11]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [12]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
last_four_months = months[8:]
print(last_four_months)

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [13]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
first_four_months = months[0:4]
print(first_four_months)

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [14]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month_list_size = len(months)
print(month_list_size)

12

- Get the element with the largest value of the month list using `max()`

In [16]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
largest_month = max(months)
print(largest_month)

September

- Get the element with the smallest value of the month list using `min()`

In [17]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
smallest_month = min(months)
print(smallest_month)

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [18]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
sorted_months = sorted(months)
print(sorted_months)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [21]:
# put your answer here
# Create the tuple with month, day, and year of birth in integers
birth_date_tuple = (11, 11, 2003)

# Unpacking the tuple to assign the elements to separate variables
month, day, year = birth_date_tuple

# Print the individual variables
print("Month of birth:", month)
print("Day of birth:", day)
print("Year of birth:", year)

Month of birth: 11
Day of birth: 11
Year of birth: 2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [22]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [23]:
# put your answer here
products = ["laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
unique_products_set = set(products)

print(unique_products_set)

{'powerbank', 'smartphone', 'keyboard', 'laptop', 'projector', 'speakers', 'headphones', 'tablet', 'printer', 'mouse', 'monitor'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [24]:
# put your answer here
products = {"laptop", "smartphone", "tablet", "mouse", "powerbank", "headphones", "speakers", "printer", "monitor", "projector", "keyboard"}
if "headphones" in products:
    print("Yes, 'headphones' exists in the products set.")
else:
    print("No, 'headphones' does not exist in the products set.")

Yes, 'headphones' exists in the products set.

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [26]:
# put your answer here
favorites = {
    "food": "kwekkwek",
    "color": "black",
    "sport": "volleyball",
    "drink": "caramel macchiato",
    "dessert": "ice cream"
}

# Printing the dictionary
print(favorites)

{'food': 'kwekkwek', 'color': 'black', 'sport': 'volleyball', 'drink': 'caramel macchiato', 'dessert': 'ice cream'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [27]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [28]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if month.endswith("ber"):
        print(month)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [29]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for month in months:
    if not month.endswith("ber"):
        print(month)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [31]:
# put your answer here
first_name = "Aliyah"

for _ in range(5):
    print(first_name)

Aliyah
Aliyah
Aliyah
Aliyah
Aliyah

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [35]:
# put your answer here
names = ["Ali Manadan", "Viola Davis", "Devin Booker", "Illest Morena"]

usernames = [name.lower().replace(" ", "_") for name in names]

print(usernames)

['ali_manadan', 'viola_davis', 'devin_booker', 'illest_morena']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [36]:
# put your answer here
months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

index = 0
while index < len(months):
    month = months[index]
    if month.endswith("ber"):
        break
    print(month)
    index += 1

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [37]:
# put your answer here
def population_density(population, land_area):
    return population / land_area

# Example usage of the function
population = 10000
land_area = 50
density = population_density(population, land_area)
print("Population density:", density)

Population density: 200.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [40]:
# put your answer here
def averagesteps(steps_list):
    total_steps = sum(steps_list)
    average = total_steps / len(steps_list)
    return average

# Create a list with seven elements representing daily steps
my_daily_steps = [8000, 6000, 10000, 7500, 9000, 8500, 7000]

# Call the averagesteps function with the list of daily steps
average_daily_steps = averagesteps(my_daily_steps)

print("Average daily steps taken:", average_daily_steps)

Average daily steps taken: 8000.0